// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.onboarding-screen-style {
	background: #1e265e;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.card {
		background-color: $white;
		width: 420px;
		min-height: 570px;
		border-radius: 16px;
	}

	.body-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 50px 0;
	}

	.title3 {
		font-size: 28px;

		span {
			color: $theme-primary;
		}
	}

	.description {
		max-width: 60%;
		text-align: center;
		font-size: 16px;
		color: $textColor;
		margin-top: 16px;
	}
}
