// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// collection-modal-style
.quiz-modal-style {
  .ant-modal {
    min-width: 875px;

    @include mobile {
      min-width: auto;
    }
  }

  .title3 {
    font-size: 28px;
  }

  .time-status-section {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .space-style {
      margin: 0 10px;
    }

    .theme-color {
      color: $theme-primary;
    }
  }

  .question-section {
    min-height: 440px;

    .ant-radio-group {
      display: flex;
      flex-wrap: wrap;
    }

    .title4 {
      margin: 30px 0 20px;
      font-size: 26px;
      color: $textColor-dark;
    }

    .ant-radio-button-wrapper {
      margin-bottom: 24px;
      width: 100%;
      height: 56px;
      display: flex;
      align-items: center;

      &::before {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background: url('../../../assets/images/icons/checkbox-outline.svg');
        margin-right: 10px;
        content: '';
      }

      span + span {
        position: relative;
        top: 2px;
      }
    }

    .ant-radio-button-wrapper-checked {
      background: $theme-success;
      border-color: $theme-success !important;

      &::before {
        background: url('../../../assets/images/icons/checkbox.svg');
      }

      &:hover {
        background: darken($theme-success, 5%);
      }
    }

    .question-row {
      width: 100%;
    }
  }

  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .label {
    font-size: 14px;
    color: #2e3142;
    margin-bottom: 10px;
  }

  .input-section {
    margin: 25px 0;
  }

  .progress-style {
    margin: 10px 0;

    .ant-progress-outer {
      margin: 0;
      padding: 0;
    }

    .ant-progress-success-bg, .ant-progress-bg {
      background-color:#50ABED;
      border-radius: 0;
    }

    .ant-progress-inner {
      background: rgba(#50ABED, 0.2);
    }
  }

  .button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;

    .ant-btn {
      height: 45px;

      span {
        position: relative;
        top: 2px;
      }
    }
  }

  .ant-progress-text {
    display: none;
  }
}

// collection-modal-style
.quiz-result-style {
  .ant-modal {
    min-width: 518px;

    @include mobile {
      min-width: auto;
    }
  }

  .ant-modal-body {
    padding: 0;
  }

  .title3 {
    font-size: 28px;
  }

  .title1 {
    font-size: 40px;
    color: $theme-success;
    margin-top: 30px;
  }

  .theme-color {
    color: $theme-primary;
  }

  .label {
    opacity: 0.6;
  }

  .text {
    font-size: 19px;
    color: $textColor-dark;
    font-weight: 500;
  }

  .title-result {
    color: $textColor-dark;
    font-size: 48px;
    margin: 10px 0;
    font-weight: 800;

    span {
      color: #50ABED;
    }
  }

  .ant-modal-content {
    border-radius: 8px;
    overflow: hidden;
  }

  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .label {
    font-size: 14px;
    color: #2e3142;
    margin-bottom: 10px;
  }

  .input-section {
    margin: 25px 0;
  }

  .ant-modal-close {
    display: none;
  }

  .description {
    font-size: 20px;
    margin: 14px 0 20px;
  }

  .bg-light-blue {
    background: #F7FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .text-box {
    text-align: center;
  }

  .row-section {
    padding: 0 80px;
    width: 100%;

    .ant-row {
      width: 100%;
    }
  }

  .button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px 20px 40px;
    border-radius: 10px;

    .ant-btn {
      height: 45px;
      padding: 0 40px;

      span {
        position: relative;
        top: 0px;
      }
    }
  }
}


.create-modal-style {
  display: flex;
  align-items: center;
  flex-direction: flex-end;

  .ant-modal {
    max-width: 480px;

    @include mobile {
      max-width: 95%;
    }
  }

  .title3 {
    font-size: 26px;
    font-weight: 700;
  }

  .ant-modal-content {
    border-radius: 12px;
  }

  .ant-modal-close {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .content-body {
    padding: 20px;

    @include mobile {
      padding: 0;
    }
  }

  .ant-form-item-control-input {

    .description {
      margin-bottom: 5px;
    }
  }

  .ant-select-selector {
    height: 40px !important;
    border-radius: 8px !important;

    .ant-select-selection-placeholder {
      height: 40px;
      display: flex;
      align-items: center;
    }

    .ant-select-selection-item {
      display: flex;
      align-items: center;
    }
  }
  
  .button-section {
    background: #F7F7F9;
    padding: 20px 40px;
    margin: -20px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    @include mobile {
      padding: 20px;
    }

    .btn-cancel {
      background: none;
      outline: none;
      box-shadow: none;
      padding: 0;
      font-size: 16px;
    }

    .ant-btn {
      margin-left: 20px;

      span {
        position: relative;
        top: 2px;
      }
    }
  }
}