// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.collection-page-style {
  min-height: 100vh;
  padding: 30px;

  .state-center {
    min-height: calc(100vh - 125px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-section {
    margin-top: 30px;

    .collection-card-style {
      margin-bottom: 32px;
    }
  }

  .tab-section {
    margin-top: 20px;
  }
}

// collection-modal-style
.collection-modal-style {

  .ant-modal {
    max-width: 505px;
  }

  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .label {
    font-size: 14px;
    color: #2e3142;
    margin-bottom: 10px;
  }

  .input-section {
    margin: 25px 0;
  }

  .folder-color-section {
    margin-bottom: 24px;

    .radio-button {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: none;
      margin-right: 8px;
      padding: 0;
    }

    .ant-radio-button-wrapper-checked {
      transform: scale(1.1);
    }

    .purple-color {
      background: $theme-primary;
    }

    .face-color {
      background: #fcab8e;
    }

    .ant-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }

    .coral-color {
      background-color: #ff8b8b;
    }

    .sky-blue-color {
      background: #6fbef6;
    }
  }
}
