// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.shared-folder-collection-style {
    margin-top: 20px;

    .time-divider {
        font-size: 16px;
        font-weight: 500;
        line-height: 25.92px;
        opacity: 0.7;
        margin: 0 0 10px;
    }
}

