.shared-folder-collection-style {
    margin-top: 20px;
    .time-divider {
        font-family: Sofia Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 162.02%;
        font-feature-settings: 'salt' on;
        color: #718096;
        margin: 24px 0 24px 0;
    }
}

