// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.quiz-page-style {
  min-height: 100vh;
  padding: 30px;

  .state-center {
    min-height: calc(100vh - 125px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-section {
    margin-top: 30px;

    @include mobile {
      margin-top: 10px;
    }

    .collection-card-style {
      margin-bottom: 32px;
    }
  }

  .tab-section {
    margin-top: 20px;

    .ant-tabs-tab-btn {
      font-size: 16px;
      color: rgba($textColor-dark, 0.4);
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: rgba($theme-primary, 1);
      }
    }

    .ant-tabs-ink-bar {
      background: $theme-primary;
    }
  }

  .ant-tabs-content {
    height: calc(100vh - 237px);
    overflow-x: auto;
  }

  .pagination-section {
    padding-bottom: 120px;
  }

  .inline-button-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button-custom {
      margin-left: 10px;

      img {
        width: 15px;
        margin-right: 10px;
      }
    }
  }
}
