// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.checklist-page-style {
  height: calc(100vh - 64px);
  padding: 30px;
  overflow-x: scroll;
  padding-bottom: 100px;

  .header-back {

    .ant-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;

      span {
        position: relative;
        top: 2px;
      }
    }
  }

  .empty-image {
    width: 160px;
  }

  .state-center {
    min-height: calc(100vh - 274px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checklist-section {
    margin-top: 30px;
  }

  .inline-button-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button-custom {
      margin-left: 10px;

      img {
        width: 15px;
        margin-right: 10px;
      }
    }
  }
}
