// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// modal-confirmation-modal-style
.modal-confirmation {
  .ant-modal {
    min-width: 640px;

    @include mobile {
      min-width: auto;
    }
  }

  .title3 {
    font-size: 28px;
  }

  .ant-modal-content {
    border-radius: 8px;
  }


  .input-section {
    margin: 25px 0;
  }

  .confirmation-section {

    .theme-color {
      color: $theme-primary;
  
      span {
        color: $text-dark;
      }
    }

    h2 {
      margin-bottom: 0;
      max-width: 90%;
      font-weight: 600;
      color: #3C3F54;
      font-size: 24px;

      @include mobile {
        font-size: 18px;
      }
    }
  }

  .delete-modal-section {
    .description {
      margin-top: 20px;
      font-size: 18px;
      color: #718096;
    }

    h2 {
      margin-bottom: 0;
      max-width: 90%;
      font-weight: 700;
      font-size: 24px;
      color: #3C3F54;
    }
  }

  .ant-modal-close {
    top: 15px;
    right: 10px;
  }

  .button-bottom-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px -20px -20px;
    padding: 20px 20px 20px;
    background: #FAFAFA;

    .ant-btn {
      padding: 0 20px;
      margin-left: 10px;
      font-weight: 700;
      font-size: 16px;

      span {
        margin-top: 2px;
      }
    }
  }
}
