@import url('http://fonts.cdnfonts.com/css/sofia-pro');

// variables
@import './variables/colors';
@import './variables/mixins';

// theme styles files
@import './xtras';
// @import './fonts';


// custom css
* {
  font-family: 'Sofia Pro', sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  // height: 100%;
}

.app-container {
  position: relative;
  overflow-x: hidden;
}

p {
  font-size: 14px;
}

// Typography Style
.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  margin: 0;
}

.title1 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
}

.title2 {
  font-size: 36px;
  line-height: 39px;
  font-weight: 600;
}

.title3 {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;

  // On mobile
  @include mobile {
    font-size: 1.3rem;
  }
}

.title4 {
  font-size: 1.3rem;
  line-height: 39px;
  font-weight: 600;
}

.title5 {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
}

.title6 {
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 600;
}


// * required none
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

// Input style
.ant-input {
  height: 46px;
  border-radius: 6px;
}

// buttons style
.ant-btn {
  border: none;
  height: 39px;
  border-radius: 8px;
  font-size: 14px;
  padding: 8px 24px;
}

// btn link style
.ant-btn-link {
  padding: 0;
  font-size: 16px;

  &.color-primary {
    color: $theme-primary;
  }
}

.btn-danger {
  background-color: $theme-secondary;
  color: white;
  border: none;

  &:hover, &:focus, &:active {
    background-color: rgba($theme-secondary, 0.6);
    color: white;
  }
}


// text align style
.text-right {
  text-align: right;
}
.text-left {
  text-align: right;
}
.text-center {
  text-align: right;
}