@import url("http://fonts.cdnfonts.com/css/sofia-pro");

// variables
@import "./variables/colors";
@import "./variables/mixins";

// theme styles files
@import "./xtras";
// @import './fonts';

// custom css
* {
  font-family: "Sofia Pro", sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  // height: 100%;
}

.app-container {
  position: relative;
  overflow-x: hidden;
}

p {
  font-size: 14px;
}

// Typography Style
.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  margin: 0;
}

.title1 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
}

.title2 {
  font-size: 36px;
  line-height: 39px;
  font-weight: 600;
}

.title3 {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;

  // On mobile
  @include mobile {
    font-size: 1.3rem;
  }
}

.title4 {
  font-size: 1.3rem;
  line-height: 39px;
  font-weight: 600;
}

.title5 {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
}

.title6 {
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 600;
}

// * required none
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

// Input style
.ant-input {
  height: 46px;
  border-radius: 6px;
}

// buttons style
.ant-btn {
  border: none;
  height: 39px;
  border-radius: 8px;
  font-size: 14px;

  &.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.btn-danger {
    background-color: $theme-secondary;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($theme-secondary, 0.6);
      color: white;
    }
  }
}

// btn-outline-primary
.btn-outline-primary {
  border: 1px solid $theme-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $theme-primary;
  font-weight: 600;
  height: 30px;
  border-radius: 50px;
  padding: 0 20px;

  span {
    margin-top: 3px;
  }

  &.circle {
    border-radius: 50%;
    padding: 0px;
  }
}

// Button Add Style here
.button-add-circle {
  position: fixed;
  bottom: 60px;
  right: 60px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

// btn link style
.ant-btn-link {
  padding: 0;
  font-size: 16px;

  &.color-primary {
    color: $theme-primary;
  }
}

.ant-btn-round {
  border-radius: 50px;
  padding-top: 5px;
}

// text align style
.text-right {
  text-align: right;
}
.text-left {
  text-align: right;
}
.text-center {
  text-align: right;
}

// Popover Style here
.toggle-menu {
  display: flex;
  flex-direction: column;

  a {
    padding: 10px 10px;
    font-size: 15px;
    color: $textDarkColor;
  }
}

.ant-popover-inner-content {
  border: 1px solid $borderColor;
  box-shadow: $shadowPrimary;
  width: 214px;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
}

.ant-popover-inner {
  box-shadow: none;
  border-radius: 0;
}
// End Popover Style here

// Back header style
.header-back {
  display: flex;
  align-items: center;

  img {
  }
}

// Header back style
.header-back {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 0;

  .ant-page-header-heading {
    width: 100%;
  }

  .title2 {
    font-size: 28px;
  }

  .ant-page-header-heading-title {
    font-size: 26px;
  }

  .ant-page-header-heading-left {
    margin-bottom: 20px;
  }
}

// Editor Style
.editor-section {
  margin-top: 20px;

  .rdw-editor-toolbar {
    border: none;
    border-bottom: 1px solid $borderColor;
    margin: 0 -20px;
    padding: 0 20px;
  }
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: transparent;

  a {
    color: $theme-primary;
  }

  .anticon {
    color: $theme-primary;
  }
}

// tab-button-style
.tab-button-style {
  margin-top: 30px;

  .ant-tabs-nav::before {
    display: none;
  }

  .ant-tabs-ink-bar {
    display: none;
  }

  .ant-tabs-nav-list {
    background: #f7fafc;
    padding: 5px;
    border-radius: 8px;
    overflow: hidden;
    height: 45px;

    .ant-tabs-tab-btn {
      font-size: 16px;
    }
  }

  .ant-tabs-tab {
    border-radius: 8px;
  }

  .ant-tabs-tab-active {
    background-color: $theme-primary;
    
    .ant-tabs-tab-btn {
      color: white;
    }
  }

  .ant-tabs-tab {
    width: 120px;
  }
  
}
