// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.group-page-style {
  height: calc(100vh - 64px);
  overflow-x: scroll;
  padding: 30px 30px 100px;

  @include mobile {
    padding: 20px 20px 100px;
  }

  .state-center {
    min-height: calc(100vh - 125px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-section {
    margin-top: 30px;

    .collection-card-style {
      margin-bottom: 32px;

      @include mobile {
        justify-content: space-between;
      }
    }
  }

  .img-user {
    margin-right: 10px;
    width: 18px;

    &.md {
      width: 20px;
    }
  }

  .btn-section-top {
    display: flex;

    .round-primary {
      margin-right: 20px;
      padding: 0 20px;
      font-size: 16px;
    }
  }

  .ant-dropdown-link {
    display: flex;
    margin-left: 10px;
  }

  .btn-section-top {
    .btn-outline-primary {
      height: 40px;
      margin-right: 10px;
      min-width: 140px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        margin: 0 6px;
      }
    }
  }

  &.detail-page-style {
    .avatar-group {
      margin-top: 15px;
    }

    .inline-button-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .button-custom {
        margin-left: 10px;

        img {
          width: 15px;
          margin-right: 10px;
        }
      }
    }
  }

  .hero-section {
    min-height: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 30px;

    @include mobile {
      min-height: 200px;
    }

    .ant-btn {
      background: none;
      color: $white;
      border: 1px solid $white;
    }
  }

  .report-section {
    .title3 {
      margin-bottom: 15px;
    }
  }

  .card-outline {
    border: 1px solid $borderColor;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;

    .title-md {
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 600;
    }

    .description {
      margin: 0;
    }

    .image-box {
      width: 64px;
      height: 64px;
      border-radius: 8px;
      margin-right: 20px;
      display: flex;

      img {
        width: 100%;
      }
    }

    .gray-box {
      background: #f7fafc;
    }

    .flex {
      display: flex;
      flex-direction: column;
    }
  }


  // inner-tab-style
  .inner-tab-style {

    .ant-tabs-nav {

      &::before {
        display: none;
      }
    }

    .ant-tabs-nav-list {
      background-color: #F7FAFC;
      border-radius: 50px;
      overflow: hidden;
    }

    .ant-tabs-ink-bar {
      display: none;
    }

    .ant-tabs-tab {
      padding: 12px 20px;
      border-radius: 50px;
      margin: 0;
    }

    .ant-tabs-tab-active {
      background-color: $theme-primary;

      .ant-tabs-tab-btn {
        color: white;
      }
    }
  }
}

.group-btn-add {
  position: fixed;
  bottom: 50px;
  right: 20px;

  .ant-btn {
    border-radius: 100px;
    font-size: 17px;
    height: 50px;
  }
}