// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.best-features-section {
  padding: 0px 80px 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include mobile {
    padding: 50px 15px;
  }

  .head-sec {
    display: flex;
    justify-content: space-between;
    gap: 0 60px;
    margin-bottom: 80px;

    @include mobile {
      flex-direction: column;
    }

    .description {
      max-width: 40%;
      font-weight: 400;
      font-size: 20px;
      line-height: 136.02%;
      color: $textColor;

      @include mobile {
        max-width: 100%;
        font-size: 18px;
      }
    }

    .title-l4 {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      color: $theme-dark;

      @include mobile {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  .img-item {
    text-align: center;

    .content {
      max-width: 70%;
      margin: 20px auto 0;
    }
  }

  .title-l5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 136.02%;
    color: $theme-dark;
  }

  .image-sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    @include mobile {
      display: flex;
      flex-wrap: nowrap;
      @include scrollbrHide;
    }

    .img-item {
      @include mobile {
        min-width: 95%;
      }
    }

    img {
      width: 100%;
    }
  }
}
