// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.layout-primary {
  overflow: hidden;

  .logo-style {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;

    @include mobile {
      height: 100px;
    }
  }

  .ant-layout-header {
    background-color: $white;
    border-bottom: 1px solid $borderColor;
    padding: 0 30px 0 20px;
  }

  .collapsed-btn {
    font-size: 18px;
    display: flex;
  }

  .site-layout {
    height: calc(100vh - 68px);
    background-color: $white;
    border-radius: 0;
  }

  .sider-style {
    height: 100vh;
    border-right: 1px solid $borderColor;
  }

  .flex-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .ant-avatar {
      margin-right: 8px;
    }
  }

  .profile-text {
    @include mobile {
      display: none;
    }
  }
}

.menu-primary-style {
  height: 100%;
  border-radius: 0;

  // Menu Style
  .ant-menu-item {
    height: 64px !important;
  }

  .ant-menu-item {
    opacity: 0.4;
    align-items: center;

    img {
      filter: grayscale(100);
    }

    &.ant-menu-item-selected {
      opacity: 1;

      img {
        filter: grayscale(0);
      }
    }
  }

  .ant-menu-title-content {
    margin-top: 5px;
  }

  &.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: linear-gradient(90deg, #f2f5ff -0.67%, rgba(225, 232, 255, 0) 100%);
  }

  &.ant-menu-inline {
    overflow-x: scroll;
    height: calc(100vh - 170px);

    .ant-menu-item::after {
      left: 0;
      height: 60%;
      top: auto;
      bottom: auto;
      background: #6c5ecf;
      box-shadow: 0px 0px 5px rgba(139, 117, 245, 0.4);
      border-radius: 0px 8px 8px 0px;
      width: 5px;
    }

  } 
}

// menu-primary-style
.drawer-sider-style {
  .ant-drawer-content-wrapper {
    max-width: 70%;
  }

  .logo-style {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $white;
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .ant-drawer-header {
    display: none;
  }

  .drawer-close-button {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    font-size: 18px;
    color: $text-dark;
    opacity: 0.7;
  }

  .drawer-header-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .ant-drawer-body {
    padding: 0;
  }
}
