// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.collection-card-style {
  border: 1px solid #E4ECF7;
  padding: 16px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-radius: 8px;
  // height: 100%;

  .title4 {
    margin: 0;
    line-height: 1.2;
  }

  .img-style {
    margin-right: 20px;
  }

  .ant-dropdown-link {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .folder-icon {
    margin-right: 10px;
  }

  .flex-style {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .icon-style {
    font-size: 26px;
  }

  .description {
    margin: 0;
  }
}
