@import "../../../styles/variables/colors";

.ant-menu-submenu > .ant-menu {
    border-radius: 8px;
    background: $white;
    border: 1px solid $borderColor;
    box-shadow: 0px 3px 8px -1px $shadowColor;
}