.vertical-ellipsis-menu {
    img {
        width: 20px;
        height: auto;
    }

    .ant-menu-submenu-arrow {
        display: none;
    }

    .ant-menu-submenu-title {
        padding: 0px;
    }

    .ant-menu-vertical {
        border: none;
    }

}
